services:
    django:
        container_name: django
        build: .
        command: uvicorn core.asgi:application --host 0.0.0.0 --port 8000 --reload
        volumes:
            - .:/app
            - /app/.venv
        ports:
            - "8000:8000"
        depends_on:
            - django_redis
    django_redis:
        container_name: django_redis
        image: redis
        ports:
            - "6379:6379"
    celery_worker:
        container_name: celery_worker
        build: .
        command: celery -A core worker --loglevel=info
        volumes:
            - .:/app
            - /app/.venv
        ports:
            - "8001:8001"
        depends_on:
            - django
            - django_redis
